// COLORS
$colorGreenFirst: #25b99a;
$colorWhiteFirst: #fff;
$colorGreyFirst: #edf0f1;
$colorGreySecond: #adadad;
$colorBlackFirst: #1d1b1b80;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $colorGreyFirst;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}

.header {
    margin-bottom: 1rem;
    height: 8rem;
    z-index: 5;
    background-color: $colorGreenFirst;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 4px  rgba(44, 62, 80, .15);
    padding: 1.3rem 0rem 1.3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .header-content {
        width: 85%;
        margin: 0 auto;
        position: relative;
    }

    & .input {
        width: 100%;
        height: 5rem;
        background-color: rgba(255, 255, 255, .2);
        color: $colorWhiteFirst; 
        border: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        font-size: 1.5rem;
        text-indent: 2rem;
        padding-right: 6rem;
        
        &::placeholder {
            color: rgba(255, 255, 255, .75);
            font-size: 1.5rem;
        }
    }

    & .header-button {
        position: absolute;
        width: 5rem;
        height: 5rem;
        right: 0px;
        top: 0px;
        z-index: 2;
        border: none;
        border-radius: 25px;
        background-image: url(../img/add_icon.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $colorWhiteFirst;
        transition: all .3s;

        &:active {
            background-color: $colorBlackFirst;
        }
    }
}

#todo:empty:before {
    content: "Add task to list";
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $colorGreySecond;
}

#todo:not(:empty):before {
    content: "Uncompleted tasks";
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $colorGreySecond;
}

.todo {

    & .todo-item {
        list-style: none;
        min-height: 50px;
        background-color: $colorWhiteFirst;
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(44,62,82, .10);
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.3rem;
        padding: 1rem 9rem 1rem 1rem;
        word-break: break-all;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    & .todo-buttons {
        width: 10rem;
        height: 5rem;
        right: 0px;
        top: 0;
        position: absolute;
        display: flex;
    }

    & .todo-btn {
        border: none;
        height: 5rem;
        width: 50%;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }

        & svg {
            height: 2.5rem;
            width: 2.5rem;
        }

        &.remove::after {
            content: "";
            width: 1px;
            height: 3rem;
            position: absolute;
            top: 10px;
            left: 50px;
            background-color: $colorGreyFirst;
        }

        &.remove .fill {
            fill:#c0cecb;
            transition: all .3s;
        }

        &.remove:hover .fill {
            fill: rgb(216, 43, 43);
            cursor: pointer;
        }

        &.complete svg {
            border-radius: 15px;
            border: 1.5px solid $colorGreenFirst;
        }

        &.complete .fill {
            fill:$colorGreenFirst;
            transition: all .3s;
        }

        &.complete:hover svg {
            background-color: $colorGreenFirst;;
        }

        &.complete:hover .fill {
            fill: #fff;
        }

    }

    // STYLES FOR COMPLETED LIST
    &.completed:not(:empty) {
        margin-bottom: 5rem;
    }

    &.completed:not(:empty):before {
        content: "Completed tasks";
        display: block;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: $colorGreySecond;
    }

    &.completed .complete svg {
        background-color: $colorGreenFirst;
        border: none;
    }

    &.completed .complete .fill {
        fill: $colorWhiteFirst;
    }

    &.completed .complete:hover svg {
        border: 1.5px solid $colorGreenFirst;
        background-color: $colorWhiteFirst;
    }

    &.completed .complete:hover .fill {
        fill: $colorGreenFirst;
    }

}

.noFill {
    fill: none;
}

@media screen and (max-width:500px) {

    .container {
        width: 95%;
    }

    .header {
        height: 6rem;

        & .header-content {
            width: 95%;
        }

        & .header-button {
            width: 4rem;
            height: 4rem;
        }

        & .input {
            font-size: 1.3rem;
            height: 4rem;
        }

        & .input::placeholder {
            font-size: 1.3rem;
        }
    } 

    .todo {
        & .todo-item {
            min-height: 3.5rem;
        }

        & .todo-btn {
            height: 4rem;
        }

        & .todo-btn.remove::after {
            height: 2.5rem;
            top: 7px;
        }

        &.completed:not(:empty) {
            margin-bottom: 3rem;
        }
    }

}