*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

body {
  background-color: #edf0f1; }

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 900px; }

.header {
  margin-bottom: 1rem;
  height: 8rem;
  z-index: 5;
  background-color: #25b99a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  padding: 1.3rem 0rem 1.3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .header-content {
    width: 85%;
    margin: 0 auto;
    position: relative; }
  .header .input {
    width: 100%;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 1.5rem;
    text-indent: 2rem;
    padding-right: 6rem; }
    .header .input::placeholder {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.5rem; }
  .header .header-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    right: 0px;
    top: 0px;
    z-index: 2;
    border: none;
    border-radius: 25px;
    background-image: url(../img/add_icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    transition: all .3s; }
    .header .header-button:active {
      background-color: #1d1b1b80; }

#todo:empty:before {
  content: "Add task to list";
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #adadad; }

#todo:not(:empty):before {
  content: "Uncompleted tasks";
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #adadad; }

.todo .todo-item {
  list-style: none;
  min-height: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(44, 62, 82, 0.1);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  padding: 1rem 9rem 1rem 1rem;
  word-break: break-all; }
  .todo .todo-item:not(:last-child) {
    margin-bottom: 1rem; }

.todo .todo-buttons {
  width: 10rem;
  height: 5rem;
  right: 0px;
  top: 0;
  position: absolute;
  display: flex; }

.todo .todo-btn {
  border: none;
  height: 5rem;
  width: 50%;
  background-color: transparent; }
  .todo .todo-btn:hover {
    cursor: pointer; }
  .todo .todo-btn svg {
    height: 2.5rem;
    width: 2.5rem; }
  .todo .todo-btn.remove::after {
    content: "";
    width: 1px;
    height: 3rem;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: #edf0f1; }
  .todo .todo-btn.remove .fill {
    fill: #c0cecb;
    transition: all .3s; }
  .todo .todo-btn.remove:hover .fill {
    fill: #d82b2b;
    cursor: pointer; }
  .todo .todo-btn.complete svg {
    border-radius: 15px;
    border: 1.5px solid #25b99a; }
  .todo .todo-btn.complete .fill {
    fill: #25b99a;
    transition: all .3s; }
  .todo .todo-btn.complete:hover svg {
    background-color: #25b99a; }
  .todo .todo-btn.complete:hover .fill {
    fill: #fff; }

.todo.completed:not(:empty) {
  margin-bottom: 5rem; }

.todo.completed:not(:empty):before {
  content: "Completed tasks";
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #adadad; }

.todo.completed .complete svg {
  background-color: #25b99a;
  border: none; }

.todo.completed .complete .fill {
  fill: #fff; }

.todo.completed .complete:hover svg {
  border: 1.5px solid #25b99a;
  background-color: #fff; }

.todo.completed .complete:hover .fill {
  fill: #25b99a; }

.noFill {
  fill: none; }

@media screen and (max-width: 500px) {
  .container {
    width: 95%; }
  .header {
    height: 6rem; }
    .header .header-content {
      width: 95%; }
    .header .header-button {
      width: 4rem;
      height: 4rem; }
    .header .input {
      font-size: 1.3rem;
      height: 4rem; }
    .header .input::placeholder {
      font-size: 1.3rem; }
  .todo .todo-item {
    min-height: 3.5rem; }
  .todo .todo-btn {
    height: 4rem; }
  .todo .todo-btn.remove::after {
    height: 2.5rem;
    top: 7px; }
  .todo.completed:not(:empty) {
    margin-bottom: 3rem; } }
